@page
@model DOINHE.Pages.servicesModel
@{
    Layout = "_Layout";
}
<main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background">
        <div class="container position-relative">
            <h1>Services</h1>
            <p>Esse dolorum voluptatum ullam est sint nemo et est ipsa porro placeat quibusdam quia assumenda numquam molestias.</p>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="index">Home</a></li>
                    <li class="current">Services</li>
                </ol>
            </nav>
        </div>
    </div><!-- End Page Title -->

    <section id="services" class="services section">

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">

                <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="200">
                    <div class="service-item position-relative">
                        <div class="img">
                            <img src="~/img/1.png" class="img-fluid" alt="">
                        </div>
                        <div class="details">
                            <a href="/Payment/?amount=50000" class="stretched-link">
                                <h3>50.000 VND</h3>
                            </a>
                            <p>Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores iure perferendis.</p>
                        </div>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="300">
                    <div class="service-item position-relative">
                        <div class="img">
                            <img src="~/img/2.png" class="img-fluid" alt="">
                        </div>
                        <div class="details">
                            <a href="/Payment/?amount=100000" class="stretched-link">
                                <h3>100.000 VND</h3>
                            </a>
                            <p>Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero corrupti neque eum hic non ut nesciunt dolorem.</p>
                        </div>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="400">
                    <div class="service-item position-relative">
                        <div class="img">
                            <img src="~/img/3.png" class="img-fluid" alt="">
                        </div>
                        <div class="details">
                            <a href="/Payment/?amount=200000" class="stretched-link">
                                <h3>200.000 VND</h3>
                            </a>
                            <p>Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea aut. Vel qui id voluptas adipisci eos earum corrupti.</p>
                        </div>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="500">
                    <div class="service-item position-relative">
                        <div class="img">
                            <img src="~/img/4.png" class="img-fluid" alt="">
                        </div>
                        <div class="details">
                            <a href="/Payment/?amount=500000" class="stretched-link">
                                <h3>500.000 VND</h3>
                            </a>
                            <p>Non et temporibus minus omnis sed dolor esse consequatur. Cupiditate sed error ea fuga sit provident adipisci neque.</p>
                            <a href="service-details" class="stretched-link"></a>
                        </div>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="400">
                    <div class="service-item position-relative">
                        <div class="img">
                            <img src="~/img/5.png" class="img-fluid" alt="">
                        </div>
                        <div class="details">
                            <a href="/Payment/?amount=1000000" class="stretched-link">
                                <h3>1.000.000 VND</h3>
                            </a>
                            <p>Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea aut. Vel qui id voluptas adipisci eos earum corrupti.</p>
                        </div>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="500">
                    <div class="service-item position-relative">
                        <div class="img">
                            <img src="~/img/6.png" class="img-fluid" alt="">
                        </div>
                        <div class="details">
                            <a href="/Payment/?amount=5000000" class="stretched-link">
                                <h3>5.000.000 VND</h3>
                            </a>
                            <p>Non et temporibus minus omnis sed dolor esse consequatur. Cupiditate sed error ea fuga sit provident adipisci neque.</p>
                            <a href="service-details" class="stretched-link"></a>
                        </div>
                    </div>
                </div><!-- End Service Item -->

            </div>

        </div>

    </section><!-- /Services Section -->


</main>